.container
{
    display: flex;
    background-color: black;
    justify-content: space-between;
    color: aliceblue;
    font-size: 26px;
    align-items: center;
    padding: 10px 15px;
}
.navigation
{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.img
{
    width: 171px;
    border: 2px solid white;
}



.active
{
    color: red;
    text-decoration: underline ;
}
